doctype html
html
  head
    title LogRocket Pug Example
    link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    style.
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
      }

      .thing {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5rem;
        border: 1rem solid transparent;
        border-color: red blue blue red;
        border-radius: 50%;
        animation: thing 5s cubic-bezier(0.35, -0.14, 0.79, 1.22) infinite;
      }

      @keyframes thing {
        100% {
          transform: rotateZ(1turn);
        }
      }

  body

    - things = 16

    mixin thing(n)
      if n > 0
        .thing
          +thing(n - 1)

    .things
      - i = 1
      while i--
        +thing(things)
